form {
  max-width: 600px;
  margin: 2.5rem auto;
  padding: 0 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.validation {
  color: red;
}
.btn[disabled] {
  background: darkgrey;
  border: 1px gray;
}
