<div class="container">
  <div class="video-streams-wrapper">
    <div class="main-video-stream">Отоскоп</div>
    <div class="additional-video-streams">
      <div class="left-video-stream">
        <video id="doc-video" #docVideo width="100%" height="100%" autoplay playsinline></video>
      </div>
      <div class="right-video-stream">
        <video id="user-video" #userVideo width="100%" height="100%" autoplay playsinline></video>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="unpublishOwnFeed()">Скрыть меня</button>
  <button class="btn btn-primary">Завершить сеанс</button>
</div>
