<div class="container">
  <div class="video-streams-wrapper">
    <div class="main-video-stream">Отоскоп (Room Message: {{message}})</div>
    <div class="additional-video-streams">
      <div class="left-video-stream">
        <video id="other-video" #otherVideo width="100%" height="100%" autoplay playsinline></video>
      </div>
      <div class="right-video-stream">
        <video id="my-video" #myVideo width="100%" height="100%" autoplay playsinline></video>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="unpublishOwnFeed()">Скрыть меня</button>
  <button class="btn btn-primary" (click)="callEnd()" *ngIf="isUserRegistered">Завершить сеанс</button>
  <button class="btn btn-primary" (click)="registerUser(myusername)" *ngIf="!isUserRegistered">Создать сеанс</button>
</div>
