/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

